In [14]:
import pandas as pd

df = pd.read_csv('/home/sv/fork_pattern.csv')

In [15]:
df.head()

,Unnamed: 0,snapshot_id,count_forks,mean_forks_per_year,mean_forks_per_month,mean_forks_per_week,count_years_with_forks,count_months_with_forks,count_weeks_with_fork,steady_month,steady_week
0,0,2.371956e+09,2.0,1.0,0.086957,0.033898,2.0,23.0,59.0,0.0,0.0
1,1,2.007823e+09,3.0,1.5,0.130435,0.050000,2.0,23.0,60.0,0.0,0.0
2,2,1.952559e+09,3.0,1.5,0.130435,0.048387,2.0,23.0,62.0,0.0,0.0
3,3,1.766828e+09,3.0,1.5,0.166667,0.038961,2.0,18.0,77.0,0.0,0.0
4,4,1.857694e+09,6.0,3.0,0.333333,0.157895,2.0,18.0,38.0,0.0,0.0

In [16]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,snapshot_id,count_forks,mean_forks_per_year,mean_forks_per_month,mean_forks_per_week,count_years_with_forks,count_months_with_forks,count_weeks_with_fork,steady_month,steady_week
0,2.371956e+09,2.0,1.0,0.086957,0.033898,2.0,23.0,59.0,0.0,0.0
1,2.007823e+09,3.0,1.5,0.130435,0.050000,2.0,23.0,60.0,0.0,0.0
2,1.952559e+09,3.0,1.5,0.130435,0.048387,2.0,23.0,62.0,0.0,0.0
3,1.766828e+09,3.0,1.5,0.166667,0.038961,2.0,18.0,77.0,0.0,0.0
4,1.857694e+09,6.0,3.0,0.333333,0.157895,2.0,18.0,38.0,0.0,0.0

In [17]:
len(df)

32908

In [26]:
df_snapshot = df[['snapshot_id']].drop_duplicates()
df_snapshot['snapshot_id'] = df_snapshot['snapshot_id'].astype('int64')
df_snapshot = df_snapshot.reset_index(drop=True)
df_snapshot.to_csv("/home/sv/snapshot_id.csv")
df_snapshot.head()

   snapshot_id
0   2371956424
1   2007822918
2   1952559471
3   1766827531
4   1857694302